<form action="/figures/<%= @figure.id %>" method = "post">
  
  <input type="hidden" id="hidden" name="_method" value="patch">
  
  <label for="figure_name">Name</label>
  <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>">
  
  <label for="titles">Titles</label>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="<%= title.id %>" value="<%= title.id %>" <%= "checked" if @figure.titles.include?(title) %>>
  <% end %>
  
  <label for="title_name">Create New Title:</label>
  <input type="text" name="title[name]" id="title_name">
  
  <label for="landmarks">Landmarks</label>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="<%= landmark.id %>" value="<%= landmark.id %>" <%= "checked" if @figure.landmarks.include?(landmark %>>
  <% end %>
  
  <label for="landmark_name">Create New Landmark:</label>
  <input type="text" name="landmark[name]" id="landmark_name">
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  
  <input type="submit" value="Update Figure">
</form>