<form action="/figures" method="POST">
  <label>Name</label>
  <input type="text" name="figure[name]" id="figure_name">
  
  <label>Titles</label>
  <% @titles.each do |title| %>
    <label><%= title.name %></label>
    <input type="checkbox" name="figure[title_ids][]" id="<%= title.name %>" value="<%= title.id %>">
  <% end %>
  
  <label>Create New Title:</label>
  <input type="text" name="title[name]" id="new_title">
  
  <label>Landmarks</label>
  <% @landmarks.each do |landmark| %>
    <label><%= landmark.name %></label>
    <input type="checkbox" name="figure[landmark_ids][]" id="<%= landmark.name %>" value="<%= landmark.id %>">
  <% end %>
  
  <label>Create New Landmark:</label>
  <input type="text" name="landmark[name]" id="new_landmark">
  <input type="text" name="landmark[year_completed]">
  
  <input type="submit" value="Create New Figure">
</form>

